<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SharpGL" version="3.1.1" targetFramework="net48" />
  <package id="SharpGL.SceneGraph" version="3.1.1" targetFramework="net48" />
  <package id="SharpGL.WinForms" version="3.1.1" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.6" targetFramework="net48" />
  <package id="WeifenLuo.WinFormsUI.Docking" version="2.1.0" targetFramework="net48" />
</packages>